services:
  keycloak:
    image: quay.io/keycloak/keycloak:24.0
    command: start-dev --import-realm
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_HEALTH_ENABLED: "true"
    volumes:
      - ./keycloak/realm-github-popularity.json:/opt/keycloak/data/import/realm-github-popularity.json:ro
    ports:
      - "8180:8080"
    restart: unless-stopped
    networks: [appnet]

  app:
    image: ghcr.io/padmasaba/github-popularity-score-service:latest
    environment:
      SPRING_PROFILES_ACTIVE: keycloak
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI: "http://keycloak:8080/realms/github-popularity/protocol/openid-connect/certs"
    ports:
      - "8080:8080"
    depends_on:
      - keycloak
    networks: [appnet]

networks:
  appnet:
    driver: bridge
